@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply px-5 py-2 bg-[#1E6EA7] text-white rounded-md
           hover:bg-orange-500 transition-all duration-200
           font-medium;
  }

  .menu-btn {
  @apply w-full flex items-center gap-4 px-5 py-[6px] hover:bg-gray-100 text-left;
}


  .bg-layout-primary{
    background-color: #f97316 !important;
  }
}