@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply px-5 py-2 bg-[#1E6EA7] text-white rounded-md
           hover:bg-orange-500 transition-all duration-200
           font-medium;
  }

  .bg-layout-primary{
    background-color: #f97316 !important;
  }
  .links{
    cursor: pointer;
  }
}