@import "tailwindcss";

@layer components {
  .btn-primary {
    @apply px-5 py-2 bg-[#1E6EA7] text-white rounded-md
           hover:bg-orange-500 transition-all duration-200
           font-medium;
  }

  .menu-btn {
  @apply w-full flex items-center gap-4 px-5 py-[6px] hover:bg-gray-100 text-left;
}


  .bg-layout-primary{
    background-color: #f97316 !important;
  }
  .links{
    cursor: pointer;
  }

  .list-group-item:hover {
    background-color: #f8f9fa;
    cursor: pointer;
  }

  input{
    background-color: white !important;
  }
  textarea{
    background-color: white !important;
  }
  select{
    background-color: white !important;
  }

  .z-100-h{
    z-index: 99999999999999999;
  }

  .card {
    @apply bg-white rounded-xl p-4 shadow-md;
  }

  .card-hover {
    @apply transition hover:shadow-lg;
  }

  /* This makes the calendar icon visible and clickable in Chrome/Edge/Safari */
/* This targets both date and time input icons */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(0.5); /* Adjust this to change icon color (0 for black, 1 for white) */
    padding: 5px;
    display: block; /* Ensures it stays visible */
}
  

}

